html, body {
    height:100%;
    width:100%;
    margin:0;
}
.h_iframe iframe {
    width:100%;
    height:100%;
}
.h_iframe {
    height: 100%;
    width:100%;
}

p {
    font-weight: bold;
}

a:visited {
  color: forestgreen;
 text-decoration-color: hotpink;
}

a:hover {
 text-decoration-color: darkturquoise ;
 text-decoration:underline;
}

a.mail{
text-decoration:none;
text-decoration-color: darkturquoise ;
}

 a.mail:hover {
 text-decoration: underline;
 }

a.secret { 
 text-decoration-color: darkturquoise ;
 text-decoration: none;
 visibility:hidden ;
}

a.secret:hover { 
 text-decoration-color: darkturquoise ;
 text-decoration: underline;
 visibility:visible ;
}


.responsive {
  max-width: 100%;
  height: auto;
}
