 /*CSS 
.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever ifffs you want to add';
}
Property*/

a:hover::after {
    /*CSS Property*/
}
a:hover::before {
    /*CSS Property*/
    content:"context";
}


.pvw-title span {
 visibility: hidden;
}

.pvw-title:after {
  visibility:visible;
  content: 'whatever you want to add';
}

div {width:300px;height:100px;border:4px display:none  #666;margin:50px;}
div:hover {border:4px dashed #f00; display:dashed; }

  /*Optional:*/
p.b:active{color:#f00;background-color:#44f;}
p.b:hover{color:#f00;background-color:#00f;}    
