

a.mail{
text-decoration:none;
}

a.mail:hover {
 text-decoration: underline;
text-decoration-color: darkturquoise ;

 }

a.mail:visited{
text-decoration-color:#ff0000;  
text-decoration:bold;
}

a.secret{
visibility:hidden;
display:none;
}

a.secret:hover { background-color:yellow;
 text-decoration-color: darkturquoise ;
 display:inline;
 visibility:visible;
}

